body
{
    background-image: url(/img/bg/2.jpg);
}

#map-block
{
	width: 1024px; 
    height: 768px;
}


#wrap-start
{
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;   
}

#start
{
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 500px;
    position: fixed;
    background-image: url(/img/bg/1.jpg);
    opacity: 1.0;
    border-radius: 10px;
    font-family: Verdana;
    font-size: 18px;
    color: #fff;
    
    text-align: center;    
}

#start table
{
    width: 85%;
}

#start input, #start select 
{
    font-size: 18px;
    border-radius: 5px;
    width: 150px;
} 


button
{
	font-size: 1.2em;
	padding: 3px;
	font-family: Verdana;
	z-index:2;
}

.log-message
{
    margin-top: 5px;
    width: 1024px;
    height: 100px;
    background-color: #000;
    color: #ccc;
    overflow: scroll;
}

select.select
{
	font-size: 1.2em;
	float: left;
	padding: 3px;
	font-family: Verdana;
}

.service
{
	margin-right: 3px;
}

#preloader
{
	position: absolute;
	top: 350px;
	left: 400px;
	z-index:1;
	display:none;
}

.time-label
{
	padding: 3px;
	font-size: 1.2em;
	color: #ff0;
	font-family: Verdana;
	background-color: #000;
}

hr
{
	width: 1024px;
	margin-left: 0;
	background-color: #ccc;
}

.rad
{
	border-radius: 5px;
}

.clr
{
	clear: both;
}

.task input
{
	width: 20px;
	height: 20px;
}

.task label
{
	color: #eee;
	font-family: Verdana;
	font-size: 1.5em;
}

.title
{
	color: #fff;
	text-decoration: underline;
}

.panel
{
    width: 18%;
    position: absolute;
    top: 105px;
    right: 10px;
    font-size: 0.8em;
    font-family: Verdana;
    color: #333;
    display: block;
    padding: 20px auto 20px auto;
}

.panel input
{
    font-size: 1.0em;
    margin-left: 23px;
}

.panel select
{
     margin-left: 23px;
     margin-bottom: 20px;
}

.panel p
{
    margin-left: 23px;
}

p.name input
{
    width: 300px;
}

.panel button
{
     font-size: 1.0em;
     margin: 5px auto 5px auto;
     width: 80%;
     display: block;
}

.grad
{
    background: linear-gradient(to top, #b5bdc8 0%, #828c95 36%, #28343b 100%);
}

.grad2
{
    background: linear-gradient(to top, #e5edf8 0%, #b2bcc5 36%, #58646b 100%);
}


.rad2
{
    border-radius: 20px;
}

#buttons
{
    display: none;
}
