body
{
    background-image: url(/img/bg/2.jpg);
}

#map-block
{
	width: 100%; 
    height: 768px;
}


#wrap-start
{
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;   
}

#start
{
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 500px;
    position: fixed;
    background-image: url(/img/bg/1.jpg);
    opacity: 1.0;
    border-radius: 10px;
    font-family: Verdana;
    font-size: 18px;
    color: #fff;
    
    text-align: center;    
}

#start table
{
    width: 85%;
}

#start input, #start select 
{
    font-size: 18px;
    border-radius: 5px;
    width: 150px;
} 



.log-message
{
    margin-top: 5px;
    width: 1024px;
    height: 100px;
    background-color: #000;
    color: #ccc;
    overflow: scroll;
}

.grad
{
    background: linear-gradient(to top, #b5bdc8 0%, #828c95 36%, #28343b 100%);
}

.grad2
{
    background: linear-gradient(to top, #e5edf8 0%, #b2bcc5 36%, #58646b 100%);
}


.rad2
{
    border-radius: 20px;
}



.service
{
	margin-right: 3px;
}

#preloader
{
	position: absolute;
	top: 350px;
	left: 400px;
	z-index:1;
	display:none;
}

.time-label
{
	padding: 3px;
	font-size: 1.2em;
	color: #ff0;
	font-family: Verdana;
	background-color: #000;
}

hr
{
	width: 1024px;
	margin-left: 0;
	background-color: #ccc;
}

.rad
{
	border-radius: 5px;
}

.clr
{
	clear: both;
}

.task input
{
	width: 20px;
	height: 20px;
}

.task label
{
	color: #eee;
	font-family: Verdana;
	font-size: 1.5em;
}



.panel
{
    width: 100%;
    height: 50px;
    font-size: 0.8em;
    font-family: Verdana;
    color: #333;
    padding: 0;
}

.panel p
{
    margin: 0 0 0 3px;
    display: inline-block;
}

p.name input
{
    width: 30%;
}

.panel button
{
     font-size: 1.0em;
     margin: 2px auto 2px auto;
     width: 30%;
}



.tasks
{
    width: 15%;
    float:left;
    margin: 0 0 0 5px;
    padding: 5px 0 0 0;
    height: 45px;
    border-right: 1px solid #999; 
}

#buttons
{
    display: none;
}

.buttons
{
    margin: 0 0 0 5px;
    padding: 5px 0 0 0; 
    width: 38%;
    float: left;
    height: 45px;
}

.select
{
    width: 23%;
    float: left;
    margin: 0 0 0 5px;
    height: 45px;
    padding: 5px 0 0 0;
    border-right: 1px solid #999; 
}

.border
{
    border: 1px solid red;
}

.border2
{
    border: 1px solid green;
}
.border3
{
    border: 1px solid blue;
}

h4.title
{
    width: 15%;
    margin: 0;
    padding: 5px 0 0 0;
    color: #333;
    font-family: Verdana;
    dislpay: block;
    float: left;
    margin: 0 0 0 5px;
    height: 45px;
    border-right: 1px solid #999; 
}

.clr
{
    clear: both;
}

.helplink
{
    display: block;
    float: right;
    text-decoration: none;
    margin: 18px 10px 0 0;
    color: #333;
}

.helplink:vizited
{
    color: #333;
}


